:root {
  --light-gray: #eeeeee;
  --white: #ffffff;
  --black: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(60, 60, 60);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  border-radius: 2rem;
  background-color: var(--light-gray);
  -webkit-box-shadow: -5px 5px 50px 5px rgba(20, 20, 20, 1);
  -moz-box-shadow: -5px 5px 50px 5px rgba(20, 20, 20, 1);
  box-shadow: -5px 5px 50px 5px rgba(20, 20, 20, 1);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}

header h2 {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
}

header nav a img {
  width: 3rem;
}

.app {
  display: grid;
  place-content: center;
  gap: 2rem;
}

.bcv {
  margin-top: 2rem;
  padding: 1.5rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 2rem;
  -webkit-box-shadow: -5px 5px 50px 5px rgba(190, 190, 190, 1);
  -moz-box-shadow: -5px 5px 50px 5px rgba(190, 190, 190, 1);
  box-shadow: -5px 5px 50px 5px rgba(190, 190, 190, 1);
}
.bcv img {
  width: 15rem;
  height: 15rem;
}

.bcv h2,
.monitor h2 {
  margin: 0;
  font-size: 1.5rem;
}

.bcv h3,
.monitor h3 {
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 1rem;
}

.bcv p,
.monitor p {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.bcv span,
.monitor span {
  font-weight: bold;
}

.monitor {
  margin-bottom: 2rem;
  padding: 1.5rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 2rem;
  -webkit-box-shadow: -5px 5px 50px 5px rgba(190, 190, 190, 1);
  -moz-box-shadow: -5px 5px 50px 5px rgba(190, 190, 190, 1);
  box-shadow: -5px 5px 50px 5px rgba(190, 190, 190, 1);
}

.monitor img {
  width: 15rem;
  height: 15rem;
  padding: 2rem;
}

footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: var(--light-gray);
  padding-top: 1rem;
}

footer img {
  width: 2rem;
}

@media (min-width: 992px) {
  body {
    height: 95vh;
  }
  .container {
    width: 85rem;
    height: 50rem;
  }
  .app {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap: 8rem;
  }
  header h2 {
    font-size: 1.8rem;
  }
  .bcv {
    margin-top: 0rem;
    width: 30rem;
  }
  .bcv img {
    width: 20rem;
    height: 20rem;
  }
  .monitor {
    margin-bottom: 0;
    width: 30rem;
  }
  .monitor img {
    width: 20rem;
    height: 20rem;
    padding: 3rem;
  }
  footer {
    padding-top: 2rem;
  }
}
